/* Styles globaux du header */
.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #002366; /* Bleu marine */
    color: #FFD700; /* Or */
    margin: -8px;
}

/* Logo */
.App-logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFD700;
}

/* Navigation */
.App-nav {
    flex-grow: 1;
    margin-left: 2rem;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 0;
    margin: 0 100px;
}

.nav-list li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #E6BE00; /* Variation dorée */
}

/* Barre de recherche */
.App-search {
    position: relative;
    width: 300px;

}

.App-search input {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #FFD700;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.App-search input::placeholder {
    color: #B2AC88; /* Vert sauge */
}

.App-search input:focus {
    border-color: #E6BE00;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}
  
  /* Résultats de la recherche */
  .search-results {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .search-results ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .search-results li {
    padding: 10px;
    border-bottom: 1px solid #B2AC88;
    transition: background 0.3s;
  }
  
  .search-results li:hover {
    background: #B2AC88;
  }
  
  .search-results li a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .search-results li a:hover {
    color: #FFD700;
  }
  
  /* Scrollbar style for the search results */
  .search-results::-webkit-scrollbar {
    width: 8px;
  }
  
  .search-results::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .search-results::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }

  
/* Responsive pour les tablettes */
@media (max-width: 768px) {
    .App-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .App-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .App-logo {
        font-size: 20px;
    }

    .App-search input {
        width: 100%;
        font-size: 14px;
    }
}

/* Responsive pour les téléphones */
@media (max-width: 480px) {
    .App-header {
        padding: 10px;
    }

    .App-logo {
        font-size: 18px;
    }

    .App-nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .App-search input {
        font-size: 12px;
    }
}