/* Styles globaux du header */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #002366; /* Bleu marine */
  color: #FFD700; /* Or */
  position: relative;
}

/* Logo */
.App-logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFD700;
}

/* Navigation */
.App-nav {
  flex-grow: 1;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav-list li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #FFD700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #E6BE00; /* Variation dorée */
}

/* Barre de recherche */
.App-search {
  position: relative;
  width: 300px;
}

.App-search input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid #FFD700;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.App-search input::placeholder {
  color: #B2AC88;
}

.App-search input:focus {
  border-color: #E6BE00;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

/* Résultats de la recherche */
.search-results {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #B2AC88;
  transition: background 0.3s;
}

.search-results li:hover {
  background: #B2AC88;
}

.search-results li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.search-results li a:hover {
  color: #FFD700;
}

/* Menu burger */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin: 10px 0;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #FFD700;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .App-header {
      flex-direction: column;
      align-items: flex-start;
  }

  .burger-menu {
      display: flex;
  }

  .App-nav {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .App-nav.open {
      display: flex;
  }

  .nav-list {
      flex-direction: column;
      width: 100%;
      gap: 10px;
      padding: 0;
  }

  .App-search {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .App-logo {
      font-size: 1.2rem;
  }

  .App-search input {
      font-size: 0.9rem;
  }
}
